<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="mvp.css">
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
  
  <script type="module">
  // Import the functions you need from the SDKs you need
  const firebaseConfig = {
    
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

</script>
</head>
<body>
  <main>
    <section>
      <form id="login">
        <label>Login</label>
        <input type="email" value="email@email.com" name="login"/>
        <label>Password</label>
        <input value="password" type="password" name="password">
        <button>Log in</button>
      </form>
      
    </section>
  </main> 
  <script>
    window.addEventListener("DOMContentLoaded", ()=>{
      document.getElementById("login")
        .addEventListener('submit', (event)=>{
          event.preventDefault();

          const login = event.target.login.value;
          const password = event.target.password.value;
          
          firebase
            .auth()
            .signInWithEmailAndPassword(login, password)
            .then(({user})=>{
              return user.getIdToken().then((idToken)=>{
                return fetch("/sessionLogin", {
                  method: "POST",
                  headers:{
                    Accept: "application/json",
                    "Content-Type": "application/json",
                    "CSRF-Token":Cookies.get("XSRF-TOKEN")
                  },
                  body: JSON.stringify({idToken})
                });
              });
            })
            .then(()=>{
              return firebase.auth().signOut();
            })
            .then(()=>{
              window.location.assign('/profile');
            });

        });
    });
  </script>
</body>
</html>